/* footer */
.footer {
  color: var(--fifth-text-color);
  background: var(--tertiary-background-color);
  &__mobile-br {
    display: none;
    }
  &__top-col {
    padding: 4.375rem 0 2.5rem;
    }
  &__top-panel {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.25rem 1.25rem;
    margin: 0 0 2.5rem;
    }
  &__middle-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 1.25rem;
    margin: 0 0 1.25rem;
    }
  &__communication {
    display: flex;
    align-items: center;
    gap: 0 1.25rem;
    }
  &__col {
    display: flex;
    align-items: center;
    gap: 0 10.5625rem;
    }
  &__info-col {
    display: flex;
    align-items: flex-start;
    gap: 0 1.625rem;
    }
  &__info-col-item {
    &:first-child {
      flex-shrink: 0;
      width: 30.875rem;
      }
    }
  p {
    color: var(--six-text-color);
    font-size: 0.9375rem;
    line-height: 1.5rem;
    span {
      color: var(--fifth-text-color);
      }
    }
  &__bottom-col {
    padding: 2.5rem 0;
    background: var(--quaternary-background-color);
    }
  &__bottom-col-in {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 1.875rem;
    }
  &__info-title {
    display: block;
    color: var(--six-text-color);
    font-size: 1.125rem;
    font-weight: var(--secondary-font-weight);
    line-height: 1.6875rem;
    }
  &__info-list {
    display: flex;
    align-items: center;
    gap: 0 3.75rem;
    li {
      font-size: 1.125rem;
      font-weight: var(--tertiary-font-weight);
      font-weight: var(--secondary-font-weight);
      line-height: 1.6875rem;
      }
    a {
      color: var(--fifth-text-color);
      &:hover {
        color: var(--seven-text-color);
        }
      }
    }
  }

/* footer-main-nav */
.footer-main-nav {
  ul {
    display: flex;
    flex-direction: column;
    gap: 0.9375rem 0;
    }
  li {
    font-size: 1.25rem;
    font-weight: var(--tertiary-font-weight);
    line-height: 1.625rem;
    }
  a {
    color: var(--fifth-text-color);
    &:hover {
      color: var(--seven-text-color);
      }
    }
  }

/* footer-nav */
.footer-nav {
  ul {
    display: flex;
    flex-direction: column;
    gap: 0.9375rem 0;
    }
  li {
    font-size: 1.125rem;
    font-weight: var(--secondary-font-weight);
    line-height: 1.6875rem;
    }
  a {
    color: var(--six-text-color);
    &:hover {
      color: var(--seven-text-color);
      }
    }
  }

/* footer-mail */
.footer-mail {
  display: inline-block;
  vertical-align: top;
  color: var(--seven-text-color);
  font-size: 1.25rem;
  font-weight: var(--tertiary-font-weight);
  line-height: 1.625rem;
  &:hover {
    color: var(--fifth-text-color);
    }
  }

/* statistics-list */
.statistics-list {
  display: flex;
  align-items: center;
  gap: 0 0.625rem;
  img {
    width: 100%;
    height: 1.875rem;
    }
  }