/* header */
.header {
  position: relative;
  background: var(--primary-background-color);
  z-index: 99;
  &__banner {
    img {
      width: 100%;
      }
    }
  &__in {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 0 0.625rem;
    }
  &__logo {
    width: 8.4375rem;
    img {
      width: 100%;
      }
    }
  &__right-col {
    display: flex;
    align-items: center;
    gap: 0 1.875rem;
    }
  }

/* main-nav */
.main-nav {
  ul {
    display: flex;
    align-items: center;
    gap: 0 2.5rem;
    }
  li {
    font-size: 1.125rem;
    font-family: var(--secondary-font-family);
    line-height: 1.6875rem;
    &.active {
      a {
        color: var(--quaternary-text-color);
        }
      }
    }
  a {
    color: var(--primary-text-color);
    &:hover {
      color: var(--quaternary-text-color);
      }
    }
  }

/* search-panel */
.search-panel {
  &__icon {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    transition: .3s opacity;
    &:hover {
      opacity: 0.8;
      }
    &:before {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: url(../img/icons/search-icon.svg) center no-repeat;
      background-size: 100%;
      transition: .3s opacity;
      content: "";
      }
    &:after {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: url(../img/icons/search-icon-active.svg) center no-repeat;
      background-size: 100%;
      opacity: 0;
      transition: .3s opacity;
      content: "";
      }
    img {
      width: 100%;
      cursor: pointer;
      }
    &.open {
      &:before {
        opacity: 0;
        }
      &:after {
        opacity: 1;
        }
      }
    }
  &__overlay {
    position: absolute;
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    height: 6249.9375rem;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(1.25rem);
    content: "";
    }
  &__dropdown {
    position: absolute;
    width: 100%;
    top: 11.5625rem;
    left: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: .3s all;
    &.show {
      opacity: 1;
      visibility: visible;
      }
    }
  &__dropdown-in {
    position: relative;
    padding: 1.5625rem 0;
    background: var(--secondary-background-color);
    box-shadow: 0 0.25rem 1.25rem rgba(0, 99, 158, 0.1);
    z-index: 3;
    }
  .search-form {
    padding: 0 0 0 19.6875rem;
    }
  }

/* search-form */
.search-form {
  &__in {
    display: flex;
    align-items: center;
    gap: 0 1.25rem;
    }
  input {
    margin: 0;
    padding: 0;
    height: 2.1875rem;
    color: var(--primary-text-color);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0.0625rem solid var(--quaternary-border-color);
    border-radius: 0;
    transition: .3s border-color;
    &:focus {
      border-color: var(--fifth-border-color);
      background: none;
      }
    &::-moz-placeholder {
      color: var(--eight-text-color);
      }
    &::-webkit-input-placeholder {
      color: var(--eight-text-color);
      }
    }
  .btn {
    padding: 0.5625rem 2.3125rem 0.6875rem;
    font-size: 1.125rem;
    line-height: 1.5625rem;
    }
  }

/* user-cabinet-panel */
.user-cabinet-panel {
  display: flex;
  align-items: center;
  gap: 0 0.5rem;
  &__icon { 
    width: 1.5rem;
    img {
      width: 100%;
      }
    }
  &__text {
    display: block;
    font-size: 1.125rem;
    font-family: var(--secondary-font-family);
    line-height: 1.6875rem;
    a {
      color: var(--primary-text-color);
      &:hover {
        color: var(--quaternary-text-color);
        }
      }
    }
  }

/* language */
.language {
  position: relative;
  &__text {
    position: relative;
    display: block;
    padding: 0 0.9375rem 0 0;
    font-size: 1.125rem;
    font-family: var(--secondary-font-family);
    line-height: 1.6875rem;
    cursor: pointer;
    transition: .3s color;
    &:after {
      position: absolute;
      display: block;
      margin: -0.3125rem 0 0;
      width: 0.4375rem;
      height: 0.625rem;
      top: 50%;
      right: 0;
      background: url(../img/icons/language-arrow.svg) center no-repeat;
      background-size: 100%;
      cursor: pointer;
      content: "";
      transition: .3s transform;
      }
    &.open {
      &:after {
        transform: rotate(180deg);
        opacity: 0.7;
        }
      }
    &:hover {
      color: var(--quaternary-text-color);
      }
    }
  &__dropdown {
    position: absolute;
    display: block;
    padding: 0.625rem;
    width: 3.125rem;
    top: 1.875rem;
    left: 50%;
    transform: translateX(-50%);
    border: 0.0625rem solid var(--tertiary-border-color);
    background: var(--primary-background-color);
    border-radius: 0.5rem;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s all;
    &.show {
      top: 2.3125rem;
      opacity: 1;
      visibility: visible;
      }
    ul {
      display: flex;
      flex-direction: column;
      gap: 1.25rem 0;
      }
    li {
      font-size: 1.125rem;
      line-height: 1.6875rem;
      }
    a {
      color: var(--primary-text-color);
      &:hover {
        color: var(--quaternary-text-color);
        }
      }
    }
  }