/* root */
:root {

  /* text color */
  --primary-text-color: #181A1B;
  --secondary-text-color: #375767;
  --tertiary-text-color: #0A2762;
  --quaternary-text-color: #00639E;
  --fifth-text-color: #ffffff;
  --six-text-color: #D8E7EF;
  --seven-text-color: #0993DC;
  --eight-text-color: #718895;
  --nine--text-color: #DC1E09;
  --ten--text-color: #B1C5D0;

  /* font-family */
  --primary-font-family: 'Manrope', sans-serif;
  --secondary-font-family: 'Gilroy', sans-serif;

  /* font-weight */
  --primary-font-weight: 400;
  --secondary-font-weight: 500;
  --tertiary-font-weight: 600;
  --quaternary-font-weight: 700;
  --fifth-font-weight: 800;

  /* border-color */
  --primary-border-color: #ffffff;
  --secondary-border-color: #1EA7F0;
  --tertiary-border-color: #D8E7EF;
  --quaternary-border-color: #BCCDD2;
  --fifth-border-color: #00639E;
  --six-border-color: #181A1B;
  --seven-border-color: #00639E;
  --eight-border-color: #DC1E09;
  --nine-border-color: #0993DC;

  /* btn-color */
  --primary-btn-color: #1EA7F0;
  --secondary-btn-color: #0993DC;
  --tertiary-btn-color: #00639E;
  --quaternary-btn-color: #F5F5F5;

  /* background-color */
  --primary-background-color: #F7FAFC;
  --secondary-background-color: #ffffff;
  --tertiary-background-color: #181A1B;
  --quaternary-background-color: #363839;
  --fifth-background-color: #00639E;
  --six-background-color: #f8f8f8;
  --seven-background-color: #181A1B;
  --eight-background-color: #D8E7EF;
  --nine-background-color: #375767;
  --ten-background-color: #718895;
  --eleven-background-color: #fef8f8;
  --twelve-background-color: #f7fafc;
  }